<!DOCTYPE html>
<html>
  <head>
    <title>My page title</title>
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body>
  <div>
##BODY##
  <div id="footer">
  <p>
    The report was generated on ##DATE## and includes all open pull requests with `community-contribution` label which were created on or before 14 days ago.
    If you'd like to make changes to this report, feel free to submit a PR at: https://github.com/mkArtakMSFT/prmonitor
  </p>
  </div>
  </div>
  </body>
</html>